@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --color-bg-0: rgb(240, 249, 255); /* Light blue background */
  --color-bg-1: hsl(204, 56%, 93%); /* Slightly darker blue background */
  --color-bg-2: hsl(210, 38%, 95%); /* Even slightly darker blue background */
  --color-theme-1: #3b82f6; /* Tailwind blue-500 */
  --color-theme-2: #10b981; /* Tailwind green-500 */
  --color-text: rgba(0, 0, 0, 0.7);
}

body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg-1);
  background-size: 100vw 100vh;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Add CSS rules to change the background color of multi-select buttons when selected */
.selected {
  background-color: var(--color-theme-1);
  color: white;
}